body {
}

.intro-page .loader{
    font-size:22px;
    color: #3675CF;
    margin-top: 20px;
}


.intro-page {
    margin-top:20px;
    background-image:url('../../img2.jpg');
    height:100%;
    background-position:center -80px;
}

.intro-page .wrapper  h1 {
    font-size: 18px;
    color: #3A6F9D;
    text-transform: uppercase;
}

.intro-page .wrapper {
    background-color:rgba(234, 234, 234, 0.8);
    padding: 20px;
}

.intro-page input[type="text"] {
    height: 48px;

}

.intro-page .btn {
    height: 48px;
}


.intro-page .user-id {
    margin-top: 20px;
}
