<div class="row intro-page">
    <div class="col-sm-offset-2 col-sm-8 text-center">
        <div class="row wrapper">
            <div class="col-sm-12">
                <h1>Welcome to our recommendation system for Yelp Community</h1>
                <br>
                <p class="text-justify">
                    Do you want to go out with your friends, but you don't know where?
                    Do you want to track Yelp Users who are interested in the same topics of businesses
                    and hang out in the same places as you? Guess what?! We have the solution for you!
                    <br>
                    <br>
                    With <b>RecYe</b>, you can find businesses that you probably are interested in,
                    and users with the same preferences. <br> <br>
                    <i ng-if="user==undefined" > All you have to do is type your personal identifier. </i>
                </p>
                <form name="UserIdForm" novalidate>
                    <div class="row user-id" ng-if="user==undefined && !loading">
                        <div class="col-sm-offset-2 col-sm-5">
                            <input type="text" class="form-control" required ng-model="userId" placeholder="Type your yelp identifier">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary form-control" ng-click="start(userId)">Let's Start</button>
                        </div>
                    </div>
                    <div class="loader text-center" ng-if="loading">
                        <span class="fa fa-refresh fa-spin"></span>
                        <div style="font-size:16px;height:87%;">Please wait! Gathering profile data!</div>
                    </div>
                    <div ng-if="error">
                        <div class="row col-sm-offset-2 col-sm-5">
                            <div class="alert-danger " style="max-width:350px;margin-left: -9px;margin-right: -2px;padding: 5px;">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{error}}
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row user-id" ng-if="user!=undefined">
                    <div class="col-sm-offset-1 col-sm-3" style="margin-left:12%;">
                        <button class="btn btn-primary business" ng-click="findBusinesses()">Find businesses</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary sim_users" ng-click="findSimilarUsers()">Find similar users</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary user_profile" ng-click="viewProfile()">View my profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>