.similarUsers-page {

}

.similarUsers-page .wrapper{
    background-color:rgba(239, 236, 236, 0.78);
    padding: 20px;
    margin-bottom:10px;
}

.similarUsers-page .user {
    background-color:#3165B8;
    color:#ffffff;
}

.similarUsers-page .user h1{
    background-color:#3165B8;
    color:#fff !important;
}

.similarUsers-page .wrapper  h1 {
    font-size: 22px;
    color: #787878;
    text-transform: uppercase;
}

.similarUsers-page .wrapper  h2 {
    font-size: 14px;
    color: #787878;
    text-transform: uppercase;

}


.similarUsers-page .friend-item  {

    background-color: #D8D8D8;
      padding: 5px;
      margin: 5px;
      margin-right: 3px;
      margin-left: 15px;
      cursor:pointer;
}

.similarUsers-page .friend-item:hover  {

    background-color: #3675CF;
    color:#ffffff;

}

.similarUsers-page .loader{
    font-size:22px;color: #3675CF;margin-top: 20px;
}


.similarUsers-page .fa-user{
    color: #3675CF;
    font-size:18px;
}

.similarUsers-page .friend-item:hover .fa-user {

    color:#ffffff;

}