<div class="similarUsers-page">
    <div class="row similarUsers-page">
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper user">
            <div style="font-size:22px;"> Check the following Yelp users out.</div>
            <div class="row">
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper">
            <h2>Similar Users</h2>
            <div class="loader text-center" ng-if="loading">
                <span class="fa fa-refresh fa-spin"></span>
                <div style="font-size:16px;height:87%;">Please wait while searching for similar users!</div>
            </div>
            <div class="similar" ng-if="!loading">
                <i>Note: These users are mostly interested in the same topics, based on their reviews. Why not have a look? </i>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-sm-12">
                    <div class="friend">
                        <i></i>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 friend-item" ng-repeat="(key,value) in similarUsers.similar_users" ui-sref="profile({u_id:value})">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="fa fa-user"></span>
                                </div>
                                <div class="col-sm-9">
                                    {{key}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>