<div class="profile-page">
    <div class="row profile-page">
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper user">
            <h1>{{user.user_name}}'s Profile </h1>
            <div class="row">
                <div class="col-sm-3">
                    <b>No. of Reviews</b> {{user.user_review_count}}
                </div>
                <div class="col-sm-5">
                    <b>Average given stars</b>
                    <i ng-if="user.user_review_count>=1" class="glyphicon glyphicon-star"></i>
                    <i ng-if="user.user_review_count>=2" class="glyphicon glyphicon-star"></i>
                    <i ng-if="user.user_review_count>=3" class="glyphicon glyphicon-star"></i>
                    <i ng-if="user.user_review_count>=4" class="glyphicon glyphicon-star"></i>
                    <i ng-if="user.user_review_count>=5" class="glyphicon glyphicon-star"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper">
           <h2>What others are saying about you </h2>
            <div class="loader text-center" ng-if="loading">
                <span class="fa fa-refresh fa-spin"></span>
                <div style="font-size:16px;height:87%;">Please wait while loading data!</div>
            </div>
            <div class="votes" ng-if="isEmpty(user.user_compliments) && !loading" >
                <i>No one has voted for you yet.</i>
            </div>
            <div class="row" ng-if="!isEmpty(user.user_compliments)">
                <div class="col-sm-3 compliment-item" ng-repeat="(key,value) in user.user_compliments">
                    <div class="row" style="margin-top:5px;" >
                        <div class="col-sm-6">{{key}}</div>
                        <div class="col-sm-6">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" value="dynamic"
                                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    {{value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper">
            <h2>Topic Words</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="topic" ng-if="!loading">
                       <i>Note: Topic Words are extracted by all of the reviews.</i>
                    </div>
                    <div class="loader text-center" ng-if="loading">
                        <span class="fa fa-refresh fa-spin"></span>
                        <div style="font-size:16px;height:87%;">Please wait while loading topics!</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 topic-item" ng-repeat="topic in user.user_topic_words" ng-if="topic.length>0" >
                            {{topic}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper">
            <h2>Friends</h2>
            <div class="friends" ng-if="isEmpty(user.user_friends) && !loading" >
                <i>No Friends. Check some Yelp Users with same preferences out
                    <span style="cursor:pointer;" ui-sref="similarUsers({u_id:user.user_id})"><b>here.</b> </span>
                </i>
            </div>
            <div class="loader text-center" ng-if="loading">
                <span class="fa fa-refresh fa-spin"></span>
                <div style="font-size:16px;height:87%;">Please wait while loading friends!</div>
            </div>
            <div class="friend" ng-show="!isEmpty(user.user_friends)">
                <i>Note: Only the top 20 friends are displayed. </i>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2 friend-item" ng-repeat="(key,value) in user.user_friends" ui-sref="profile({u_id:value})">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="fa fa-user"></span>
                                </div>
                                <div class="col-sm-9">
                                    {{key}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 text-left wrapper" ng-if="!isEmpty(user.user_friends)">
            <h2>Similar Users</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="rec_users">
                        <i>If you want to find some Yelp Users with same preferences, click
                            <span style="cursor:pointer;" ui-sref="similarUsers({u_id:user.user_id})"><b>here.</b> </span>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>