.profile-page {
    
}

.profile-page .wrapper{
    background-color:rgba(239, 236, 236, 0.78);
    padding: 20px;
    margin-bottom:10px;
}

.profile-page .user {
    background-color:#3165B8;
    color:#ffffff;
}

.profile-page .user h1{
    background-color:#3165B8;
    color:#fff !important;
}

.profile-page .wrapper  h1 {
    font-size: 22px;
    color: #787878;
    text-transform: uppercase;
}

.profile-page .wrapper  h2 {
    font-size: 14px;
    color: #787878;
    text-transform: uppercase;

}

.profile-page .topic  {
    padding-bottom: 10px;
}


.profile-page .topic-item  {

    background-color: #D8D8D8;
      padding: 5px;
      margin: 5px;
      margin-right: 3px;
      margin-left: 15px;
}

.profile-page .friend  {
    padding-bottom: 10px;
}


.profile-page .friend-item  {

    background-color: #D8D8D8;
      padding: 5px;
      margin: 5px;
      margin-right: 3px;
      margin-left: 15px;
      cursor:pointer;
}

.profile-page .friend-item:hover  {

    background-color: #3675CF;
    color:#ffffff;

}


.profile-page .compliment-item{
      background-color: #E5E5E5;
      padding: 5px;
      margin: 5px;
      margin-right: 3px;
      margin-left: 15px;
      cursor:pointer;
}

.profile-page .progress{
    margin-bottom:3px;
}

.profile-page  .loader{
    font-size:22px;color: #3675CF;margin-top: 20px;
}

.profile-page .fa-user{
    color: #3675CF;
    font-size:18px;
}

.profile-page .friend-item:hover .fa-user {

    color:#ffffff;

}