﻿.business-list-page .loader{
    font-size:46px;color: #3675CF;margin-top: 200px;
}

.gm-style-iw {
   width: 350px !important;
   top: 10 !important;
   left: 10 !important;
   border-radius: 2px 2px 0 0;
}
.search .content-container {
  position: absolute;
  width:380px;

  left: 30px;
  z-index: 2;
  border-left: solid 1px #65B8FF;
  border-right: solid 1px #65B8FF;
  border-top: solid 1px #65B8FF;
  border-bottom: solid 1px #65B8FF;
  margin-bottom: 5px;
  margin-top: 15px;
  height:95%;
}
.search .content-container .results {

  background-color: #FFFFFF;
  min-height: 450px;
  padding: 0px;
  height:100%;

}
.search .content-container .results h2 {
  font-size: 18px;
  padding: 10px;
  padding-top:20px;
  padding-bottom:20px;
  color: #FFFFFF;
  background-color: #3675CF;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 300;
}
h2.welcome {
 padding-top:190px !important;
 padding-left:20px  !important;
}

p{
padding-top:0px !important;
 padding-left:20px  !important;
 padding-right:20px  !important;
 color: #787878;
}
.search .content-container .results .business {
  padding: 10px;
  border-bottom: solid 1px #f3f3f3;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  cursor: pointer;
}

.search .content-container .results .selected {
  background-color: #60BBDD;
  color:#ffffff;
}

.search .content-container .results .business:hover {
  background-color: #60BBDD;
  color:#ffffff;
}

.search .map-container {
  position: relative;
  z-index: 1;
}
body {
  font-family: Roboto;
  font-weight: 400;
}

.business-list-page .loader{
    font-size:22px;
    color: #3675CF;
    margin-top: 20px;
}

.business-list-page ::-webkit-scrollbar {
    width: 10px;
}

.business-list-page ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.business-list-page ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #A0D2E5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.business-list-page ::-webkit-scrollbar-thumb:window-inactive {
	background: #A0D2E5;
}