<div class="business-list-page full-height search">
    <div class="content-container">

        <div class="results" ng-if="businesses!=undefined">
            <h2>We have {{businesses.length}} places to recommend you, <b style="font-size:18px;cursor:pointer;" ui-sref="profile({u_id:user.user_id})">{{user.user_name}}</b></h2>
            <div style="overflow-y:scroll; height:87%;">
                <div class="business" ng-class="{'selected': selected.business_id == result.business_id}"
                     ng-repeat="result in businesses" ng-click="select(result)">
                    {{result.business_name}}
                </div>
            </div>
        </div>
        <div class="results" ng-if="businesses==undefined">
            <h2>Please wait a minute to find the appropriate businesses for you.</h2>
            <div class="loader text-center">
                <span class="fa fa-refresh fa-spin"></span>
            </div>
        </div>


    </div>
    <div style="height:100%;" class="map-container" map-lazy-load="http://maps.google.com/maps/api/js">
        <map ng-if="businesses==undefined || businesses.length==0" center="41,-87" zoom="3" min-zoom="3" style="height:100%;"
             map-type-control="false"
             pan-control="true" pan-control-options="{position:'TOP_RIGHT'}"
             zoom-control="true" zoom-control-options="{style:'LARGE', position:'TOP_RIGHT'}"
             scale-control="true"
             street-view-control="false">
        </map>

            <map ng-if="businesses.length>0" min-zoom="3" center="{{selected.business_address.latitude}},{{selected.business_address.longitude}}" zoom="9"  style="height:100%;"
                 map-type-control="false"
                 pan-control="true" pan-control-options="{position:'TOP_RIGHT'}"
                 zoom-control="true" zoom-control-options="{style:'LARGE', position:'TOP_RIGHT'}"
                 scale-control="true"
                 street-view-control="false">
                <marker ng-repeat="result in businesses" id="{{result.business_id}]" on-click="showInfoWindow(event, '{{result.business_id}}_info');" position="{{result.business_address.latitude}},{{result.business_address.longitude}}" on-click="toggleBounce()" animation="DROP">
                    <info-window id="{{result.business_id}}_info" visible-on-marker="{{result.business_id}}">
                        <div ng-non-bindable="">
                            <div id="bodyContent">
                                  <h3>{{result.business_name}}</h3>
                                <i ng-if="result.business_stars>=1" class="glyphicon glyphicon-star"></i>
                                <i ng-if="result.business_stars>=2" class="glyphicon glyphicon-star"></i>
                                <i ng-if="result.business_stars>=3" class="glyphicon glyphicon-star"></i>
                                <i ng-if="result.business_stars>=4" class="glyphicon glyphicon-star"></i>
                                <i ng-if="result.business_stars>=5" class="glyphicon glyphicon-star"></i>

                                  <div class="BusinessInfo" style="max-width:300px; margin-top:15px;" >
                                      <strong>Full Address:</strong>
                                          {{result.business_full_address}} <br>
                                      <strong>Categories:</strong>
                                      <span ng-repeat="category in result.business_categories">
                                          {{category}}
                                      </span> <br>
                                      <strong>Topic Words:</strong>
                                      <span ng-repeat="topic in result.business_topic_words">
                                          {{topic}}
                                      </span>
                                  </div>
                            </div>
                        </div>
                    </info-window>
                </marker>
            </map>

    </div>
</div>
